<h1>ToDo</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Task</th>
    <th>Done</th>
    <th></th>
    <th></th>
  </tr>
  <ng-container *ngFor="let todoItem of todoList">
    <tr>
      <td>{{todoItem.order}}</td>
      <td>{{todoItem.task}}</td>
      <td>
        <input type="checkbox"
          [(ngModel)]="todoItem.done"
          (click)="markDone(todoItem)">
      </td>

      <td><button type="button" name="button" (click)="remove(todoItem)">Remove</button></td>
      <td>
        <button *ngIf="todoList.indexOf(todoItem) > 0" type="button" name="button" (click)="moveUp(todoItem)">Move Up</button>
        <button *ngIf="todoList.indexOf(todoItem) < todoList.length-1"
          type="button" name="button" (click)="moveDown(todoItem)">
          Move Down
        </button>
      </td>
    </tr>
  </ng-container>
</table>
